



* {
    outline: none !important;
}

:target {
    animation-name:example;
    animation-duration: 2s;
    animation-delay: 0.4s;
}

@keyframes example {
    from  {background-color: #007bff2f;}
    to {background-color: #007bff00;}
}

pre {
    white-space: pre-line;
    user-select: all;
    color: #007bff;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #e9e9e9;
}

.card-text > pre {
    margin-bottom: 0px;
}

#site-dev-warning {
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: .375rem .75rem;
    border-radius: .25rem;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

/* BUTTONS */
.btn {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn-lg {
    font-size: 15px;
}

/* BUTTON ROW */
.button-row > a{
    margin-right: 15px;
}

/* LIST GROUP */
.list-group-item > :not(h5):last-child {
    margin-bottom: 0px;
}

/* GET STARTED */
#get-started {
    margin-bottom: 2rem;
}

/* USE OF TAGS */
    /* TAG SEARCH */
    #search-list-tags {
        margin-bottom: 20px;
    }

    #filter-list-tags > dl > div {
        margin-bottom: 20px;
    }

    /* TAG ROWS */
    #tags .row > div {
        margin-bottom: 40px;
    }

    /* TAG SELECTION */
    #tags-first > ul > li > h5, #tags-scnd > ul > li > h5 {
        user-select: all
    }

    /* TAG BADGES */
    #tags-first > ul > li .badge, #tags-scnd > ul > li .badge, .badge-tag-scnd {
        margin-left: 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 0.7rem;
        user-select: none;
    }

        /* TAG BADGE SECOND TAG SUPPORT */

        div[badge-tag-scnd] {
            display: inline-block;
            color: #fff;
            background-color: #6c757d;
            font-weight: 700;
            font-size: 11.2px;
            text-transform: uppercase;
            letter-spacing: 1px;
            line-height: 1;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: .25rem;
            padding: .25em .4em;
            margin-left: 10px;
        }

        div[badge-tag-scnd]::after {
            content: 'second tag';
        }

        /* TAG BADGE BUG */
        div[badge-tag-bug] {
            display: inline-block;
            color: #fff;
            background-color: #dc3545;
            font-weight: 700;
            font-size: 11.2px;
            text-transform: uppercase;
            letter-spacing: 1px;
            line-height: 1;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: .25rem;
            padding: .25em .4em;
            margin-left: 10px;
        }

        div[badge-tag-bug]::after {
            content: 'bug';
        }

    /* WHATS NEW */
    #whats-new {
        margin-bottom: 2rem;
        border-color: #007bff;
    }

    #whats-new > .card-header {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }

    #whats-new > .card-body > :last-child {
        margin-bottom: 0px;
    }

    #whats-new > .card-body > h5 {
        margin-bottom: 0px;
    }

/* MEDIA QUERIES */
@media (min-width: 576px){
    .jumbotron.jumbotron-subpage {
        padding: 2rem 2rem;
    }
}
