:root {
    /* Transitiontime of collapse */
    --collapse-trans-time: 0.3s;
    /* */
    
    /* Transitiontime of tooltips */
    --tooltip-trans-time: 0.2s;
    
    /* Backgroundcolor of tooltips */
    --tooltip-bg-color: #3D3D3D;

    /* Textcolor of tooltips */
    --tooltip-color: white;
    
    /* Border radius of elements with 'border-rd'-class */
    --border-radius: 6px;
    
    /* Fading of disabled element with 'disabled'-class */
    --disabled-fade: 0.6;
}